@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page should allow you to add, view, edit and delete cooking recipes.</a>.</p>
</div>
